$color-background: #31525b;
$color-buttonFull: #ffa101;
$color-background-form: #fae6b1;
$color-delete: #eb2a38;
$color-white: #ffffff;
$color-details: #9f9a8c;

$font-size-nav: 2em;
$font-size-title-main: 3em;
$font-size-title-under: 1.8em;
$font-size-gender-game: .8em;
$font-size-tournament-title: 1.2em;
$font-size-form-label: 1.2em;

$padding-apercu: .8em;